apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: open-webui
  namespace: flux-system
spec:
  interval: 1m
  url: https://github.com/Gradient-DS/open-webui
  ref:
    branch: main
  secretRef:
    name: github-credentials
