{{- if .Values.migration.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "open-webui-stack.migration.fullname" . }}-script
  labels:
    {{- include "open-webui-stack.migration.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation
data:
  restore-to-openwebui.py: |
{{ .Files.Get "scripts/restore-to-openwebui.py" | indent 4 }}
{{- end }}
