{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "open-webui-tenant.postgres.fullname" . }}
  labels:
    {{- include "open-webui-tenant.postgres.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgres
      protocol: TCP
      name: postgres
  selector:
    {{- include "open-webui-tenant.postgres.selectorLabels" . | nindent 4 }}
{{- end }}
